@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none ;
}
html{
    scroll-behavior: smooth;
}
/*navbar section*/
.nav-bar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 999;
}
.nav-bar.sticky{
    padding: 15px 0;
    background: rgb(128, 7, 7);
}

.nav-bar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.nav-bar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: cornsilk;
}
.nav-bar .logo a span{
    
    color:crimson;
}
.nav-bar .menu li{
    list-style: none;
    display: inline-block;
}
.nav-bar .menu li a {
    color: cornsilk;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    display: block;
}
.nav-bar .menu li a:hover{
    color: crimson;
}
/*menu*/
.menu-btn{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;

}
/*home style*/
.home{
    display: flex;
    background: url(images/home-bg.jpg) repeat center;
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-weight: 600;
    min-height: 500px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.home .max-width{
    margin: auto;
}
.home .home-content .text-1{
    font-size: 30px;
    margin-left: -5px;

}
.home .home-content .text-2{
    font-size: 50px;
    margin: 0 50px;
    color: red;
}
.home .home-content .text-3{
    font-size: 20px;
    margin: 0 10px;
}

/*work style*/
.works .header h2{
    text-align: center;
    font-size: 30px;
}
.works .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    padding: 5px 30px; 
   
}

.container .card{
    background: coral;
    text-align: center;
    font-size:20px;
    margin: 5px 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 30%;
    padding:auto;
    overflow: hidden;
}
.card .image img{
    
    position: relative;
    object-fit:cover;
}
.content p{
    text-align: justify;
}
/*about style*/
.about{
    background: url('images/about-bg.jpg');
}
.header{
    margin :5px 0;
}
.header h2{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.container{
    display: flex;
    padding: 5px spx;
    
}
.container .image{
    width: 50%;
    padding: 10px;
}
.container .image img{
    object-fit:cover;
    height: 400px;
    width: 400px;
}
.container .content{
    padding: 10px;
    align-items: center;
}
.container .content P{
    text-align: justify;
}
.container .social{
    padding: 2px 5px;
    align-items: center;
    display: flex;
}
.container .social .icon{
    width: 30%;
    text-align: center;
    font-size: 30px;
}
.container .social .icon a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/*contact style*/
.contact {
    position: relative;
    padding: 20px 100px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('images/bg1.jpg');
    background-size: cover;
    
}

.contact .content{
  
    max-width: 1000px;
    text-align: center;
}
.contact .content h2{
    font-size: 50px;
    font-weight: 600;
    color:rgb(189, 238, 238);
}


.contact .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    
  
}
.contactInfo .box{
    position: relative;
    display: flex;
    padding: 20px 0;
}
.contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
}
.contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    

}
.contactInfo .box .text h3{
    font-weight: 200;
    font-size: 20px;
    color: rgb(58, 234, 240);
}
.contactInfo .box .text p{
    color: rgb(255, 255, 255);
}

.contact .column-right{
    padding: 40px;
    width: 40%;
    background: white;
    margin-top: 10px;
}
.contact .column-right form h2{
    color: rgb(10, 10, 10);

}
.contact .column-right form .inputdata{
   position: relative;
   width: 100%;
    margin-top: 10px;
}
.contact .column-right form .inputdata input,.contact .column-right form .inputdata textarea{
   width: 100%;
   padding: 5px 0;
   font-size: 15px;
   margin: 5px 0;
   border: none;
   border-bottom: 2px solid black;
   outline: none;
   resize: none;
}
.contact .column-right form .inputdata span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contact .column-right form .inputdata input:focus~span,
.contact .column-right form .inputdata input:valid~span,
.contact .column-right form .inputdata textarea:focus~span,
.contact .column-right form .inputdata textarea:focus~span{
    color: crimson;
    font-size: 12px;
    transform: translateY(-15px);
}
.contact .column-right form .inputdata input[type="submit"]{
    width: 100px;
    background: rgb(250, 88, 88);
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}
footer{
    background: rgb(26, 15, 15);
    padding: 20px 20px;
    color: rgb(248, 247, 247);
}
footer span a{
    color: cyan;
}
footer span{
    margin: 0 2px;
}

/*responsive style*/
@media screen and (max-width: 600px)
    {
        .max-width{
            padding: 0 20px;
            margin: 10px;
        }
        .menu-btn{
            display: block;
            z-index: 999;
        }
        .menu-btn i.active::before{
            content: "\f057";
        }
    .nav-bar .menu{
        position: fixed;
        background: black;
        height: 100vh;
        width: 100%;
        left: -100%;
        top:0 ;
        text-align: center;
        padding-top: 60px;
        transition: all 0.3s ease;
    }
    .nav-bar .menu.active{
        left:0;
    }
    .nav-bar .menu li{
        display: block;
    }
    .nav-bar .menu li a{
        display: inline-block;
        margin:20px 0;
    }
    @media(max-width:815px){
        .container{
            flex-direction: column;
        }
        .container .image{
            width: 100%;
            padding: 0 10px;
        }
        .container .image img{
            width: 100%;
        }
    }
    
    
}
@media(max-width:1036px){
    .container .card{
        width: 45%;
    }
}
@media(max-width:875px){
    .container .card{
        width: 90%;
    }
}
@media(max-width:700px) {
    .contact{
        padding: 50px;
    }
    
    .container{
        flex-direction: column;
    }
    .contact .column-right,.contact .container{
        width: 100%;
    }
    
}